<br>
<font face='ヒラギノ丸ゴ ProN'>
  <h2 style="text-align:center"><%= "#{current_user.name}さん、本日もお疲れ様です！" %></h2>
</font>
<br>
<br>
<br>
<%= link_to 'マイページ', user_path(current_user.id), class: "btn btn-info btn-lg w-25" %>&nbsp;&nbsp;
<%= "← 自身の予定を表示、編集することができます" %>
<br>
<br>
<br>
<%= link_to "スタッフ一覧", users_path, class: "btn btn-success btn-lg w-25" %>&nbsp;&nbsp;
<%= "← スタッフ一覧をご覧になれます" %>
<br>
<br>
<br>
<%= link_to "利用者一覧", patients_path, class: "btn btn-primary btn-lg w-25" %>&nbsp;&nbsp;
<%= "← 利用者一覧をご覧になれます" %>
<br>
<br>
<br>
<p><%= link_to "新規利用者登録", new_patient_path, class: "btn btn-danger btn-lg w-25" %>&nbsp;&nbsp;
  <%= "← 利用者の新規登録ができます" %>
  <br>
  <br>
  <br>
  <font face='ヒラギノ丸ゴ ProN'>
    <h3 style="text-align:center"> <%= "いつも勤務ありがとうございます" %></h3>
  </font>
