<%= form_with model: @patient, local: true do |form| %>
  <table>
    <tr>
      <th class="show"><%= form.label :name %></th>
      <td><%= form.text_field :name, required: true %></td>
    </tr>
    <tr>
      <th class="show"><%= form.label :birthday %></th>
      <td>
        <%= form.date_select(
             :birthday,
             start_year: 1910,
             end_year: 2000,
             defoult: Date.new(1950, 1, 1),
             required: true
             ) %>
      </td>
    </tr>
    <tr>
      <th class="show"><%= form.label :gender %></th>
      <td><%= form.text_field :gender, required: true %></td>
    </tr>
    <tr>
      <th class="show"><%= form.label :address %></th>
      <td><%= form.text_field :address, required: true %></td>
    </tr>
    <tr>
      <th class="show"><%= form.label :degree_of_care %></th>
      <td><%= form.text_field :degree_of_care, required: true %></td>
    </tr>
    <tr>
      <th class="show"><%= form.label :key_person %></th>
      <td><%= form.text_field :key_person, required: true %></td>
    </tr>
  </table>
  <br>
  <%= form.submit "送信", data: { confirm: "この内容でよろしいですか？" } %>
<% end %>
